body{
  margin: 0;
  background-color: #FFFC00;
  font-family: Montserrat;
}

*{
  padding: 0;
}

/*Menu*/

nav.menu{
  background-color: white;
  width: 100%;
  height: 45px;
  position: fixed;
  display: flex;
  align-items: center;
}

.menu ul{
  margin: 0 12%;
  list-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.menu ul li{
  margin-right: 38px;
}

.menu ul #accueil{
  border-bottom: black solid 2px;
}

.menu li:hover{
  border-bottom: grey solid 2px;
}

/*Yellow part w/ ghost*/

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header #ghost{
  margin-top: 50px;
  width: 150px;
}

header .caret{
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .caret #caret{
  width: 50px;
  animation: bounce 3s ease infinite;
}

@keyframes bounce{
  0% {transform: translateY(0);}
  20% {transform: translateY(-20px);}
  40% {transform: translateY(0);}
  100% {transform: translateY(0);}
}

/*White footer*/

.whfoot{
  font-family: Helvetica;
  letter-spacing: 1px;
  width: 100%;
  height: 250px;
  background-color: white;
}

.whfoot .listcontainer{
  margin: 0 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.whfoot .listcontainer .list{
  width: 18%;
  padding: 3%;
}

.whfoot .listcontainer .list li{
  color: grey;
  font-size: 12px;
  list-style: none;
  margin: 7px 0;
}

.whfoot .listcontainer .list li:hover{
  color: black;
}

.whfoot .listcontainer .list .titlelist{
  color: rgba(0,0,0,.87);
  font-weight: 600;
}

.whfoot .listcontainer .dropdown{
  
}
